



/* color-violet */



.scroll-top{

  background: #783ea0;

}



.mobile-menu .contact-info ul li a:hover{

  color: #783ea0;

}



.mobile-menu .social-links li a:hover{

  color:#783ea0;  

}



.switcher .switch_btn button{

  background: #783ea0;

}



.main-menu .navigation > li.current > a,

.main-menu .navigation > li:hover > a{

  color: #783ea0 !important;

}



.main-menu .navigation > li > ul{

  border-top: 3px solid #783ea0;

}



.main-menu .navigation > li > ul > li > a:hover{

  color:#783ea0;

}



.main-menu .navigation li.current.dropdown .dropdown-btn,

.main-menu .navigation li:hover .dropdown-btn{

  color: #783ea0;

}



.main-menu .navigation > li > ul > li > ul{

  border-top: 3px solid #783ea0;

}



.header-top .info li a:hover{

  color: #783ea0;

}



.header-top .info li i{

  color: #783ea0;

}



.header-top .social-links li a:hover{

  color: #783ea0;

}



.header-top .sign-box a:hover{

  color: #783ea0;

}



.header-top .sign-box a i{

  color: #783ea0;

}



.main-menu .navigation > li > ul > li > a:hover,

.main-menu .navigation > li > .megamenu li > a:hover{

  color: #783ea0;

}



.main-menu .navigation > li > ul > li > ul > li > a:hover{

  color: #783ea0;

}



.main-menu .navigation > li.dropdown > .megamenu{

  border-top: 3px solid #783ea0;

}



.main-menu .navigation > li > a:before{

  background-color: #783ea0;

}



.theme-btn.btn-one{

  background-color: #783ea0;

  border: 2px solid #783ea0;

}



.search-field .top-search .search-btn button{

  background-color: #783ea0;

}



.search-field .tab-btn-box li.active-btn{

  background-color: #783ea0;

}



.ui-slider-horizontal .ui-slider-range{

  background-color: #783ea0;

}



.ui-slider .ui-slider-handle{

  background-color: #783ea0;

}



.search-field .advanced-search .range-box input{

  color: #783ea0;

}



.category-block-one .inner-box:before{

  background-color: #783ea0;

}



.sec-title h5{

  color: #783ea0;

}



.feature-block-one .inner-box .lower-content .author-info .buy-btn a:hover{

  background-color: #783ea0;

}



.feature-block-one .inner-box .lower-content .title-text h4 a:hover{

  color: #783ea0;

}



.feature-block-one .inner-box .lower-content .price-box .price-info h4{

  color: #783ea0;

}



.feature-block-one .inner-box .lower-content .price-box .other-option li a:hover{

  background-color: #783ea0;

  border-color: #783ea0;

}



.theme-btn.btn-two:hover{

  border-color: #783ea0;

}



.theme-btn.btn-two:before{

  background-color: #783ea0;

}



.deals-block-one .inner-box .lower-content .title-text h4 a:hover{

  color: #783ea0;

}



.deals-block-one .inner-box .lower-content .other-option li a:hover{

  background-color: #783ea0;

  border-color: #783ea0;

}



.deals-block-one .inner-box .lower-content .price-box .price-info h4{

  color: #783ea0;

}



.nav-style-one .owl-nav button:hover{

  background-color: #783ea0 !important;

  border-color: #783ea0 !important;

}



.testimonial-block-one .inner-box .author-info h4{

  color: #783ea0;

}



.place-block-one .inner-box .text h4 a:hover{

  color: #783ea0;

}



.team-block-one .inner-box .lower-content .inner h4 a:hover{

  color: #783ea0;

}



.team-block-one .inner-box .lower-content .inner .social-links li a:hover{

  border-color: #783ea0;

  background-color: #783ea0;

}



.theme-btn.btn-three:before{

  background-color: #783ea0;

}



.theme-btn.btn-three:hover{

  border-color: #783ea0;

}



.news-block-one .inner-box .lower-content h4 a:hover{

  color: #783ea0;

}



.news-block-one .inner-box .lower-content .post-info li.author-box h5 a:hover{

  color: #783ea0;

}



.bg-color-3{

  background-color: #783ea0;

}



.footer-top a:hover{

  color: #783ea0;

}



.footer-top .links-widget .links-list li a:hover:before{

  background-color: #783ea0;

}



.footer-top .contact-widget .info-list li i{

  color: #783ea0;

}



.footer-bottom a:hover{

  color: #783ea0;

}



.main-header .menu-right-content .sign-box a:hover{

  color: #783ea0;

}



.main-header .menu-right-content .sign-box a i{

  color: #783ea0;

}



.banner-carousel .owl-dots .owl-dot.active span,

.banner-carousel .owl-dots .owl-dot span:hover{

  background-color: #783ea0;

}



.dots-style-one .owl-dots .owl-dot.active span,

.dots-style-one .owl-dots .owl-dot span:hover{

  background-color: #783ea0 !important;

}



.deals-style-two .image-box .buy-btn a:hover{

  background-color: #783ea0;

}



.testimonial-block-two .inner-box .author-info h4{

  color: #783ea0;

}



.content_block_2 .content-box .place-list li a:hover{

  color: #783ea0;

}



.content_block_2 .content-box .place-list li a:hover span{

  color: #783ea0;

}



.content_block_2 .content-box .place-list li a h5:before{

  background-color: #783ea0;

}



.header-style-three .header-lower .main-menu .navigation > li.current > a, 

.header-style-three .header-lower .main-menu .navigation > li:hover > a{

  background-color: #783ea0;

}



.search-field-section .tabs-content .tab-btns li.active-btn:before{

  border-color: #783ea0;

}



.search-field-section .tabs-content .tab-btns li.active-btn:after{

  background-color: #783ea0;

}



.feature-block:nth-child(2) .feature-block-two .inner-box .icon-box{

  color: #783ea0;

}



.feature-block:nth-child(2) .feature-block-two .inner-box .icon-box:before{

  background-color: #783ea0;

}



.funfact-block-one .inner-box .count-outer{

  color: #783ea0;

}



.pricing-block-one .pricing-table .table-header h2{

  color: #783ea0;

}



.pricing-block-one .pricing-table .table-footer .link-btn{

  border: 2px solid #783ea0;

}



.pricing-block-one .pricing-table .table-footer .link-btn:hover{

  background-color: #783ea0;

}



.pricing-block-one .pricing-table:hover .table-header{

  background-color: #783ea0;

}



.contact-section .form-inner input:focus,

.contact-section .form-inner textarea:focus{

  border-color: #783ea0 !important;

}



.item-shorting .right-column .short-menu button:hover,

.item-shorting .right-column .short-menu button.on{

  border-color: #783ea0;

  background-color: #783ea0;

}



.pagination li a:hover,

.pagination li a.current{

  border-color: #783ea0;

  background-color: #783ea0;

}



.owl-item:nth-child(2n+1) .feature-block-two .inner-box .icon-box{

  color: #783ea0;

}



.owl-item:nth-child(2n+1) .feature-block-two .inner-box .icon-box:before{

  background-color: #783ea0;

}



.image_block_2 .image-box .text h2{

  color: #783ea0;

}



.testimonial-block-three .inner-box h5{

  color: #783ea0;

}



.news-block-two .inner-box .content-box .post-info li.author-box h5 a:hover{

  color: #783ea0;

}



.news-block-two .inner-box .content-box h4 a:hover{

  color: #783ea0;

}



.page-title .bread-crumb li a:hover{

  color: #783ea0;

}



.default-sidebar .category-widget .category-list li a:hover{

  color: #783ea0;

}



.default-sidebar .category-widget .category-list li a:hover:before{

  border-color: #783ea0;

}



.default-sidebar .category-widget .category-list li a:hover:after{

  background-color: #783ea0;

}



.agents-block-one .inner-box .content-box .title-inner a:hover{

  color: #783ea0;

}



.agents-block-one .inner-box .content-box .social-list li a:hover{

  border-color: #783ea0;

  background: #783ea0;

}



.agents-block-one .inner-box .content-box .info li i{

  color: #783ea0;

}



.agents-block-one .inner-box .content-box .info li a:hover{

  color: #783ea0;

}



.agents-block-two .inner-box:hover .image-box{

  border-color: #783ea0;

}



.agents-block-two .inner-box .content-box .title-inner a:hover{

  color: #783ea0;

}



.agents-block-two .inner-box .content-box .info li a:hover{

  color: #783ea0;

}



.agents-block-two .inner-box .content-box .info li i{

  color: #783ea0;

}



.agent-details-page .tab-btn-box .tab-btns li.active-btn:before{

  border-color: #783ea0;

}



.agent-details-page .tab-btn-box .tab-btns li.active-btn:after{

  background-color: #783ea0;

}



.agent-details-page .tab-btn-box .tab-btns li.active-btn{

  color: #783ea0;

}



.agent-details-page .deals-block-one .image-box .buy-btn a:hover{

  background-color: #783ea0;

}



.default-form input:focus,

.default-form textarea:focus{

  border-color: #783ea0 !important;

}



.page-title-two .bread-crumb li:last-child{

  color: #783ea0;

}



.page-title-two .bread-crumb li a:hover{

  color: #783ea0;

}



.property-page-section .deals-block-one .image-box .buy-btn a:hover{

  color: #783ea0;

}



.default-sidebar .price-filter .input input{

  color: #783ea0;

}



.property-details .top-details .right-column .price-inner .price-box h3{

  color: #783ea0;

}



.property-details .top-details .right-column .other-option li a:hover{

  background-color: #783ea0;

  border-color: #783ea0;

}



.property-details .carousel-inner .owl-nav button:hover{

  background-color: #783ea0;

}



.property-details-content .amenities-box .list li:before{

  border: 2px solid #783ea0;

}



.property-details-content .amenities-box .list li:after{

  background-color: #783ea0;

}



.accordion-box .block .acc-btn.active h5{

  color: #783ea0;

}



.accordion-box .block .acc-btn.active .icon-outer{

  color: #783ea0;

}



.property-details-content .nearby-box .single-item .icon-box{

  background-color: #783ea0;

}



.property-details-content .form-group input:focus,

.property-details-content .form-group textarea:focus{

  border-color: #783ea0 !important;

}



.property-sidebar .author-widget .author-box .inner .info li i{

  color: #783ea0;

}



.property-sidebar .author-widget .author-box .inner .info li a{

  color: #783ea0;

}



.property-sidebar .author-widget .author-box .btn-box a{

  color: #783ea0;

  border: 1px solid #783ea0;

}



.property-sidebar .author-widget .author-box .btn-box a:hover{

  background-color: #783ea0;

}



.property-details-three .slider-content .slider-pager .thumb-box li figure:after{

  border-color: #783ea0 !important;

}



.faq-sidebar .form-inner input:focus,

.faq-sidebar .form-inner textarea:focus{

  border-color: #783ea0 !important;

}



.pricing-section .tab-btns li:before{

  background-color: #783ea0;

}



.pricing-section .tab-btns:before{

  border: 2px solid #783ea0;

}



.properties-section th .price{

  color: #783ea0;

}



.sortable-masonry .filters .filter-tabs li:hover,

.sortable-masonry .filters .filter-tabs li.active{

  background-color: #783ea0;

  border-color: #783ea0;

}



.myprofile-section .tab-btns li.active-btn{

  color: #783ea0;

}



.myprofile-section .tab-btns li.active-btn span{

  background-color: #783ea0;

  border-color: #783ea0;

}



.myprofile-section h4 i{

  color: #783ea0;

}



.myprofile-section .other-option .radio-box input[type="radio"]:checked + label span:before {

  border-color: #783ea0;

}



.myprofile-section .other-option .radio-box input[type="radio"]:checked + label span:after {

  background-color: #783ea0;

}



.myprofile-section .other-option .radio-box input[type="radio"]:checked + label{

  color: #783ea0;

}



.ragister-section .inner-box .othre-text p a{

  color: #783ea0;

}



.ragister-section .tab-btn-box .tab-btns li.active-btn{

  background-color: #783ea0;

}



.info-block-one .inner-box p a:hover{

  color: #783ea0;

}



.info-block:nth-child(2) .info-block-one .inner-box .icon-box:before{

  background-color: #783ea0;

}



.info-block:nth-child(2) .info-block-one .inner-box .icon-box{

  color: #783ea0;

}



.blog-sidebar .sidebar-widget .search-inner .form-group button{

  background-color: #783ea0;

}



.blog-sidebar .sidebar-widget .search-inner .form-group input:focus{

  border-color: #783ea0 !important;

}



.blog-sidebar .category-widget .category-list li a:hover{

  color: #783ea0;

}



.blog-sidebar .post-widget .post h5 a:hover{

  color: #783ea0;

}



.blog-sidebar .tags-widget .tags-list li a:hover{

  background-color: #783ea0;

  border-color: #783ea0;

}



.news-block-one .inner-box .lower-content h3 a:hover{

  color: #783ea0;

}



.blog-details-content .news-block-one .inner-box .lower-content .text blockquote{

  border-left: 3px solid #783ea0;

}



.blog-details-content .news-block-one .inner-box .lower-content .text blockquote h4{

  color: #783ea0;

}



.blog-details-content .post-tags .tags-list li a:hover{

  background-color: #783ea0;

  border-color: #783ea0;

}



.blog-details-content .comments-area .comment .text a:hover{

  color: #783ea0;

}