.benfeitorias {
    background-color: #CBD5E1;
    border-radius: 8px;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 130px;
    margin-right: 20px;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
}

.flex-direction-column {
    flex-direction: column;
}

.grid-view-4-col .item-wrap:nth-child(4n+1) {
    clear: both;
}

.grid-view-4-col .item-wrap {
    width: 25%;
}

.grid-view .item-wrap {
    float: left;
    margin: 0;
}

.mr-10 {
    margin-right: 10px;
}

.flex-space {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: wrap;
}


.pagination svg{
    height: 24px;
}

.radius{
    border-radius: 8px;
}

.btn-text-success{
    background-color: #33BD59;
    color: #fff;
    border: 1px solid #33BD59;
}
